.dropdown-content {
	min-width: 300px !important;
	text-transform: uppercase;
}

/* Project icons. */
#dropdown-projects li a {
	display: flex;
}
#dropdown-projects li a img {
	margin-right: 10px;

	background: #AAAAAA;
	border-radius: 4px;
}

h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	/*background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));*/
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 2rem;
}

/*
 * The two directives below help show the full width of an image in a parallax container.
 * Because on small screen sizes, the images overflow as they are not resized correctly.
 */
.parallax-container {
	height: 30vw;
}
.parallax img {
	width: 100%;
}

.title-block {

	font-weight: bold;
	font-size: 24pt;
	padding-top: 10px;
	padding-bottom: 10px;
}

.presentation-name {

	font-size: 20pt;
	font-weight: bold;
}

.presentation-box {

	margin-top: 2%;
	margin-bottom: 2%;
}

.presentation-box p {

	text-align: justify;
}

.presentation-image {

	margin: 2em;
	border-radius: 10px !important;
}

.linkedin_profile {

	font-weight: bold;
}

#footer-content {
	padding-top: 5%;
	padding-bottom: 5%;
}

#footer-content a:not(.btn) i {
	font-size: 1.5em;
}

footer .footer-copyright {
	padding: 1em;
}

#contact-block {
	margin-top: 5%;
	margin-bottom: 5%;
}

#hiddenbtn {
	float: right;
}

.custom-list {
	list-style-type: circle !important;
}

.custom-list li {
	list-style-type: circle !important;
	padding-left: 10px;
}

/* Project presentation (paragraph justify and title centering). */
.project-presentation .container {
	padding: 32px 0px;
}

.project-presentation h3 {
	text-align: center;
}

.project-presentation p {
	text-align: justify;
}

/* Carousel stuff (screenshots and arrow buttons). */
.carousel .carousel-arrow-btn {
	position: absolute;
	top: 50%;
}
.carousel .carousel-arrow-btn .carousel-move-prev {
	left: 2em;
}
.carousel .carousel-arrow-btn .carousel-move-next {
	right: 2em;
}

.screenshot-desc {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0.5em 0px;
	text-shadow: 0px 0px 2px black, 0 0 8px black;
}

/*.screenshot-desc {
	position: absolute;
	top: 0px;
	display: block;
	width: 100%;
	text-align: center;
	margin-top: 1em;
	text-shadow: 0px 0px 2px black, 0 0 8px black;
}*/

#admin-container {
	padding: 0px 4%;
}

#admin-user-table td {
	padding: 4px 0px;
}