
#presentation_bloc{

font-weight: bold;
vertical-align: middle;
}

#presentation_ethan {

  margin-top: 3%;
}

#presentation_ethan .image_ethan img{

margin-top: 5%;
border-radius: 10px;
width: 20%;

}

#presentation_noah {

  margin-top: 3%;
}
