body {
	/*background-color: gray;*/
}

h3 {
	font-size: 2rem;
}

.title-block {

	font-weight: bold;
	font-size: 24pt;
	padding-top: 10px;
	padding-bottom: 10px;
}

.presentation-name {

	font-size: 32pt;
	text-decoration: underline;
}

.presentation-box {

	margin-top: 2%;
	margin-bottom: 2%;
}

.presentation-image {

	margin-top: 5%;
	border-radius: 10px;
	width: 18%;
}

#contact_bloc {
	margin-top: 5%;
	margin-bottom: 5%;
}

#hiddenbtn {
	float: right;
}

/* Carousel stuff (screenshots and arrow buttons). */

.carousel-arrow-btn {
	position: absolute;
	top: 50%;
}

.screenshot-desc {
	position: absolute;
	top: 0px;
	left: auto;
	right: auto;
	width: auto;
	text-shadow: 0px 0px 2px black, 0 0 8px black;
}